/* Fonts */
$font_body: "Manrope", sans-serif;
$font_title: "Anton", sans-serif;

/* Colors */
$yellow: #ffd15b;
$black: #1b1b1b;
$grey: #7a7a7a;
$lightGrey: #c6c6c6;

/* Responsive */
$breakpoints: (
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1280px,
);
